/*====================================================================
base / font
====================================================================*/
$items: "NotoSansJP-Light", "NotoSansJP-Regular", "NotoSansJP-Medium",
  "NotoSansJP-Thin";

@each $item in $items {
  @font-face {
    font-family: $item;
    src: url("../font/#{$item}.ttf");
  }
}

@mixin fontMSP {
  font-family: "游ゴシック", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
    "游ゴシック  Medium", -apple-system, BlinkMacSystemFont, meiryo, sans-serif;
}

@mixin u-fontGothic {
  font-family: "Montserrat-Regular", "游ゴシック体", YuGothic, "游ゴシック",
    Helvetica Neue, Helvetica, Arial, "Yu Gothic", "Montserrat-Regular",
    "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

@mixin u-fontYuMincho {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, sans-serif;
}

@mixin fontNotoSans {
  font-family: "Montserrat-Regular", "Noto Sans JP", "NotoSansJP-Regular",
    "NotoSansJP-Medium", "游ゴシック体", YuGothic, "游ゴシック", Helvetica Neue,
    Helvetica, Arial, "Yu Gothic", "Montserrat-Regular", "メイリオ",
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}
